/* File: assets/css/main.css
 * Info: Stuff that goes in the main element */
 
/* main {} */

.card {
    border-radius: 5px;
    background-color: #630;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: var(--bsh);
}
